project:
  type: website
  output-dir: docs

website:
  title: "StatiCrypt Quarto Demo"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format: html
